In [1]:
# Necessary Libraries

import numpy as np, pandas as pd

In [2]:
# Lets import the data

data = pd.read_excel(r'C:\Users\joshu\Desktop\prwa Tech\Assignments\4. Movies\Workings\movie.xlsx', header= None, index_col= 0)

In [3]:
data.columns = ['film_titles', 'year', 'ratings', 'seconds']

In [4]:
# Lets inspect the data

data.head()

                      film_titles  year  ratings  seconds
0
1  The Nightmare Before Christmas  1993      3.9   4568.0
2                       The Mummy  1932      3.5   4388.0
3            Orphans of the Storm  1921      3.2   9062.0
4            The Object of Beauty  1991      2.8   6150.0
5                      Night Tide  1963      2.8   5126.0

In [5]:
data.tail()

,film_titles,year,ratings,seconds
0,,,,
49586,Winter Wonderland,2013,2.8,1812.0
49587,Top Gear: Series 19: Africa Special,2013,NaN,6822.0
49588,Fireplace For Your Home: Crackling Fireplace w...,2010,NaN,3610.0
49589,Kate Plus Ei8ht,2010,2.7,NaN
49590,Kate Plus Ei8ht: Season 1,2010,2.7,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49590 entries, 1 to 49590
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   film_titles  49590 non-null  object
 1   year         49590 non-null  int64
 2   ratings      10814 non-null  float64
 3   seconds      45836 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 1.9+ MB

In [7]:
data.describe()

               year       ratings       seconds
count  49590.000000  10814.000000  45836.000000
mean    2002.303428      3.451248   2628.445436
std       12.534555      0.495601   1604.646265
min     1913.000000      1.400000     52.000000
25%     1999.000000      3.100000   1356.000000
50%     2007.000000      3.500000   2563.000000
75%     2010.000000      3.800000   2877.000000
max     2014.000000      4.500000  28813.000000

In [8]:
data.shape

(49590, 4)

In [9]:
# Lets check null values

for x in data.columns:
    print(f'{x} - {sum(data[x].isnull())}')

film_titles - 0
year - 0
ratings - 38776
seconds - 3754

### 1. No. of films released between 1950s and 1960s

In [10]:
yr_filtered = data[(data.year > 1950) & (data.year <1960)]

In [11]:
yr_filtered.year.unique()

array([1959, 1956, 1952, 1953, 1955, 1954, 1958, 1951, 1957], dtype=int64)

In [12]:
yr_filtered

,film_titles,year,ratings,seconds
0,,,,
94,House on Haunted Hill,1959,3.6,4491.0
98,Godzilla: King of the Monsters,1956,3.5,4828.0
100,High Noon,1952,3.9,5087.0
316,Beneath the 12-Mile Reef,1953,3.2,6036.0
402,Love Is a Many-Splendored Thing,1955,3.5,6115.0
...,...,...,...,...
35628,Alfred Hitchcock Presents: Season 3: The Canar...,1957,NaN,1570.0
35635,Alfred Hitchcock Presents: Season 3: Impromptu...,1957,NaN,1553.0
44641,Isn't Life Wonderful!,1954,2.9,4788.0
44723,Disney Animation Collection: Vol. 4: The Torto...,1958,NaN,1020.0
44767,Disney Animation Collection: Vol. 2: Three Lit...,1952,NaN,494.0

In [13]:
yr_filtered.shape[0]

414

##### 414 films released between 1950s and 1960s ( 547 including 1950s & 1960s )

### 2. No. of films with ratings more than 4

In [14]:
rat_abv_4 = data[data.ratings > 4]

In [15]:
rat_abv_4

,film_titles,year,ratings,seconds
0,,,,
139,Pulp Fiction,1994,4.1,9265.0
288,Life Is Beautiful,1997,4.2,6973.0
303,Mulan: Special Edition,1998,4.2,5270.0
465,Forrest Gump,1994,4.3,8525.0
491,Braveheart,1995,4.2,10658.0
...,...,...,...,...
49549,Life With Boys: Season 1,2011,4.1,NaN
49554,Max Steel,2013,4.1,NaN
49556,Lilyhammer: Season 1 (Recap),2013,4.2,194.0
49571,The Short Game (Trailer),2013,4.1,156.0
49579,Transformers Prime Beast Hunters: Predacons Ri...,2013,4.2,3950.0

In [16]:
rat_abv_4.shape[0]

897

##### 897 films with ratings more the 4.0

### 3. Ratings between 3 & 4

In [17]:
ratings_filtered = data[(data.ratings > 3) & (data.ratings < 4)]
ratings_filtered

,film_titles,year,ratings,seconds
0,,,,
1,The Nightmare Before Christmas,1993,3.9,4568.0
2,The Mummy,1932,3.5,4388.0
3,Orphans of the Storm,1921,3.2,9062.0
6,One Magic Christmas,1985,3.8,5333.0
7,Muriel's Wedding,1994,3.5,6323.0
...,...,...,...,...
49576,Dave Foley: Relatively Well,2013,3.2,3446.0
49580,Underground: The Julian Assange Story,2012,3.7,5665.0
49581,Curious George: A Very Monkey Christmas,2009,3.8,3438.0
49583,Lady Gaga &#38; The Muppets' Holiday Spectacular,2013,3.1,3496.0
49585,Silver Bells,2013,3.5,5287.0

In [18]:
s_rat_fitered = pd.Series(ratings_filtered.film_titles.unique())

In [19]:
s_rat_fitered

0                         The Nightmare Before Christmas
1                                              The Mummy
2                                   Orphans of the Storm
3                                    One Magic Christmas
4                                       Muriel's Wedding
                              ...
6873                         Dave Foley: Relatively Well
6874               Underground: The Julian Assange Story
6875             Curious George: A Very Monkey Christmas
6876    Lady Gaga &#38; The Muppets' Holiday Spectacular
6877                                        Silver Bells
Length: 6878, dtype: object

### 4. Films with duration as more than 2 hrs

In [20]:
secs_filtered = data[data.seconds > 7200]
secs_filtered

,film_titles,year,ratings,seconds
0,,,,
3,Orphans of the Storm,1921,3.2,9062.0
13,The Birth of a Nation,1915,2.9,12118.0
14,The Boys from Brazil,1978,3.6,7417.0
21,Born on the Fourth of July,1989,3.4,8646.0
22,Broadcast News,1987,3.4,7940.0
...,...,...,...,...
45108,Settai,2013,2.8,7390.0
46832,WWE for All Mankind: The Life &#38; Career of ...,2013,4.2,8066.0
46949,Example Short XII 23976 2 Hour,2010,2.6,7370.0
48714,WWE: The Top 25 Rivalries in Wrestling History,2013,3.7,10228.0
49055,Theeya Velai Seyyanum Kumaru,2013,3.3,8239.0

In [21]:
# No duplicates

secs_filtered.film_titles.value_counts()

Orphans of the Storm                 1
13B                                  1
Ken Burns: Baseball: Inning Six      1
Ken Burns: Baseball: Inning Seven    1
Ken Burns: Baseball: Inning Nine     1
                                    ..
The Constant Gardener                1
Mind the Gap                         1
Bunty Aur Babli                      1
One Bright Shining Moment            1
Theeya Velai Seyyanum Kumaru         1
Name: film_titles, Length: 641, dtype: int64

In [22]:
secs_filtered.shape[0]

641

### 5. Year and No. of Films DataFrame

In [23]:
yr_films = data.loc[:,['year', 'film_titles']]
yr_films

       year                                        film_titles
0
1      1993                     The Nightmare Before Christmas
2      1932                                          The Mummy
3      1921                               Orphans of the Storm
4      1991                               The Object of Beauty
5      1963                                         Night Tide
...     ...                                                ...
49586  2013                                  Winter Wonderland
49587  2013                Top Gear: Series 19: Africa Special
49588  2010  Fireplace For Your Home: Crackling Fireplace w...
49589  2010                                    Kate Plus Ei8ht
49590  2010                          Kate Plus Ei8ht: Season 1

[49590 rows x 2 columns]

In [24]:
# Found duplicates in film_title columns

yr_films.film_titles.value_counts()

Bleak House                                                    4
Treasure Island                                                3
Mansfield Park                                                 3
Jane Eyre                                                      3
Kidnapped                                                      3
                                                              ..
The Andy Griffith Show: Season 7: Goober Makes History         1
The Andy Griffith Show: Season 7: The Ballgame                 1
The Andy Griffith Show: Season 7: Aunt Bee's Crowning Glory    1
The Andy Griffith Show: Season 7: Helen  the Authoress         1
Kate Plus Ei8ht: Season 1                                      1
Name: film_titles, Length: 49143, dtype: int64

In [25]:
# Lets check if the years are same as well

yr_films[yr_films.film_titles == 'Bleak House']

# Nope

       year  film_titles
0
2236   1985  Bleak House
2434   2005  Bleak House
26446  2005  Bleak House
26447  1985  Bleak House

In [31]:
years = []
film_counts = []

for x in yr_films.year.unique():
    years.append(x)
    film_counts.append(len(yr_films.film_titles[yr_films.year == x]))

In [39]:
filmsPerYear = pd.DataFrame(film_counts, years).reset_index()

In [42]:
filmsPerYear.columns = ['years', 'no_of_films']

In [44]:
filmsPerYear = filmsPerYear.sort_values('years')

In [47]:
filmsPerYear

     years  no_of_films
98    1913            3
71    1914           20
11    1915            1
56    1916            1
99    1918            1
..     ...          ...
89    2010         5107
90    2011         5511
97    2012         4339
96    2013          981
100   2014            1

[101 rows x 2 columns]

### 6. Total no. of films in the data

In [49]:
new_df = data.drop_duplicates()

In [51]:
new_df.head()

                      film_titles  year  ratings  seconds
0
1  The Nightmare Before Christmas  1993      3.9   4568.0
2                       The Mummy  1932      3.5   4388.0
3            Orphans of the Storm  1921      3.2   9062.0
4            The Object of Beauty  1991      2.8   6150.0
5                      Night Tide  1963      2.8   5126.0

In [52]:
new_df.film_titles.value_counts()

Kidnapped                                                  3
Dragon                                                     3
Brian's Song                                               2
Bringing Up Bobby                                          2
Footloose                                                  2
                                                          ..
The Andy Griffith Show: Season 4: The Song Festers         1
The Andy Griffith Show: Season 4: Hot Rod Otis             1
The Andy Griffith Show: Season 4: Prisoner of Love         1
The Andy Griffith Show: Season 4: Aunt Bee the Crusader    1
Kate Plus Ei8ht: Season 1                                  1
Name: film_titles, Length: 49143, dtype: int64

In [53]:
len(new_df.film_titles)

49245